*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

/*
EXAMPLE ON HOW TO USE COLORS AND FONTS ASSETS
element{
    color: var(--pink);
    font-family: var(--formTitle);
}
*/